* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameDisplay {
    border: 4px solid black;
}

.grid {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    width: 202px;
    height: 402px;
}

.gridSquare {
    width: 20px;
    height: 20px;
    outline: 1px solid;
}

#gameBoard {
    display: grid;
    height: 85%;
    width: 25%;
}

#field {
    display: flex;
    justify-content: center;
    height: 100%;
}
